.plus-icon{
  margin-top: 11px;
}

.minus-icon{
  margin-top: 18px;
}

.totals_table{
  margin-left: 10px;
}

.left-column {
  padding-left: 5px;
}

.right-column {
  padding-left: 30px;
}

.right-column-rewards {
  padding-left: 30px;
}

.mini-pass {
  height: 20px;
  width: 20px;
}

.at-sign {
  float: right;
}

.triangle {
  padding-left: 12px;
  padding-top: 1.5px;
}

.header-down-arrow{
  padding-bottom: -10px;
}

.log-in-prompt-line-2{
  line-height: 18.5px;
  font-size: 81%;
  opacity: .48
}

.log-in-prompt-line-3{
  line-height: 18.5px;
  font-size: 81%;
  opacity: .48
}

.make-most{
  line-height: 40px;
}

.register_using {
  opacity: .48;
}

.email {
  padding-left: 2px;
}

.already-mem{
  padding-right: 9px;
}

.email-input {
  height: inherit;
  float: left !important;
  border: none !important;
  margin-left: -11.2px !important;
}

.password-input {
  height: inherit;
  float: left !important;
  border: none !important;
  margin-left: -11.2px !important;
}

.expire-input {
  height: inherit;
  float: left !important;
  border: none !important;
  margin-left: -11.2px !important;
}

.cvv-input {
  height: inherit;
  float: left !important;
  border: none !important;
  margin-left: -11.2px !important;
}

.zipcode-input {
  height: inherit;
  float: left !important;
  border: none !important;
  margin-left: -11.2px !important;
}

.gym-detail1{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 7px rgba(233,233,233,1) solid;
    box-shadow: 3px #888888 !important;
    font-size: "81%" !important;
}

.gym-detail2{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 7px rgba(233,233,233,1) solid;
    box-shadow: 3px #888888 !important;
    font-size: "81%" !important;
}

#map-wrapper {
    /*border-left: 2px rgba(233,233,233,1) solid !important;*/
    border-right: 2px rgba(233,233,233,1) solid !important;
    border-top: 7px rgba(233,233,233,1) solid !important;
    border-bottom: 20px rgba(233,233,233,1) solid !important;
    box-shadow: 3px #888888 !important;
    /*padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;*/
}

.gym-detail-map{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;*/
    border-top: 10px rgba(233,233,233,1) solid;
    border: 2px rgba(233,233,233,1) solid;
    /*box-shadow: rgba(0,0,0,.2) !important;*/
    font-size: "81%" !important;
}

.how-to-get-in {
  line-height: 18px;
}

.total-passes {
  display: none;
}

.total-price-pass{
  float: right;
}

.gym-name-pass{
  padding-bottom: 80px;
  padding-top: 20px;
  padding-left: 40px;
}

.pass-amount-pass {
  float: right;
}

input.email-input {
  font-size: 85% !important;
}

input.password-input {
  font-size: 85% !important;
}

input.expire-input {
  font-size: 85% !important;
}

input.cvv-input {
  font-size: 85% !important;
}

input.zipcode-input {
  font-size: 85% !important;
}

.country {
  font-size: 85% !important;
}
